.gameButton {
  margin: 20px;
}

.gameButtons {
  display: block;
}

.gameButtonText {

}

.gameSubmit {
  margin: 30px 50px;

}

.gameInstructions {

}

.gameContainer {
  text-align: center;
}

.gameStats {
  margin-bottom: 20px;
  display: block;
}

.gameScoreBox {
  width: 100px;
  display: inline-block;
  margin-right: 20px;
}

.fa-6 {
  font-size: 200px;
}

.gameRound {
  font-weight: bold;

}

.gameButtonBottom {
  margin-right: 20px;
}

.gameOptionModal {

}

.gameHr {
  width: 60%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameDropdown {
  margin-top: 30px;
  margin-right: 20px;

}

.modal-body {
  padding: 30px;
}

// Score the in the results modal
.gameScoreNumber {

}
