.gameButton {
  margin: 20px;
}

.gameButtons {
  display: block;
}

.gameButtonText {
    font-size: 1.5em;
}

#popupAlert {
    display: none;
    position: absolute;
    bottom: 18%;
    margin-left: 30%;
    width: 200px;
    height: 48px;
    z-index: 10;
}

.gameSubmit {
  margin: 30px 50px;

}

#gamePanels {
  float: left;
}

#gameResultsPanel {
  float: right;
}

#resultText {
    color: #5cb85c;
    font-weight: bold;
}

#resultBody {
    text-align: center;
    font-size: .8em;
    padding: 20px;
}

.gameInstructions {

}

.gameContainer {
  text-align: center;
}

.gameStats {
  display: block;
}

.gameInfoBox {
  width: 100px;
  display: inline-block;
  margin-right: 20px;
}

.gameScoreBox {
    width: 163px;
    margin-right: 20px;
    display: inline-block;
}

.counter {
    font-size: 2em;
    padding: 0px;
}

.fa-6 {
  font-size: 200px;
}

.gameRound {
  font-weight: bold;

}

.gameButtonBottom {
  margin-right: 20px;
}

#options {
  visibility: hidden;
}

.gameOptionModal {

}

.gameHr {
  width: 60%;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.gameDropdown {
  margin-top: 30px;
  margin-right: 20px;

}

.modal-body {
  padding: 30px;
}

// Score the in the results modal
.gameScoreNumber {

}
